@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,600,700|Press+Start+2P);

body, html {
    height: auto;
    font-size: 13px;
}

#mainPopup {
    /*padding: 6px;*/
    margin: 0px;
    padding: 0px;
    /*height: auto;*/
    width: 400px;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
    cursor: default;
}

h1 {
    font-size: 1.2em;
    font-family: "Press start 2p", "open sans", Helvetica, sans-serif;
    margin: 4px 0;
    line-height: 40px;
    text-align: center;
}

.logo img {
    height: 40px;
    right: 0;
}

header {
    background: #1583cc;
}

.helloUser {
    background: #e6e6e6;
    color: #333;
    padding: 6px 0;
    border-bottom: 1px #cacaca solid;
}

.currently-container {
    background: #f9f9f9;
    padding: 6px 0;
    border-bottom: 1px #EEE solid;
    box-shadow: 0 2px 2px rgba(100, 100, 100, 0.4);
}

.currently-container>div>div {
    display: block;
    text-align: center;
}

.currently-available {
    margin-top: 4px;
}

.currently-available span {
    margin-right: 2px;
    margin-bottom: 6px;
    font-size: 1.1rem;
}

.disable_coffee {
    /*background: #881f0e;*/
}
.disable_coffee .fa {

}

#content {
    /*margin-top: 12px;*/
    padding: 12px 0;
}
#mainPopup .smoke {
    position: absolute;
    width: 12px;
    height: 12px;
    background:url('../img/smoke-texture2.png') no-repeat;
    background-size: 100% 100%;
    z-index: 10;
    overflow: hidden;
}
     
.login-container {
    margin-top: 12px;
}

.messages-container {
    border-top: #777777 solid 1px;
    height: 100px;
    overflow: auto;
    margin-bottom: 1.4rem;
    font-size: 1rem;
}
input.newMessage {
    margin: 0;
    padding: 0px 5px !important;
    font-size: 1rem;
    height: 18px;
    position: fixed;
    bottom: 0px;
    border: 0 !important;
    border-top: 1px #cecece solid !important;
    outline-offset: 0;
    box-shadow: none !important;
}
input.newMessage:focus {
    border: 0px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
.messages-container .info {
    color: #777777;
    font-size: 10px;
}
.messages-container .info.new-user .fa {
    color: lawngreen;
}
.messages-container .info.dis-user .fa {
    color: firebrick;
}
.messages-container .info.new-roulette .fa {
    color: #147cc0;
}

.i_want_coffee_done,.i_want_coffee_error,.i_want_coffee_load {
    text-align: center;   
}

#drawing_canvas {
    display: none;
}
.confirm_buttons {
    display: block;
    margin: 6px 0;
}
.advancedLink {
    font-size: 0.6rem;
    margin: 4px 0;
}
.advanced input, .advanced select {
    padding: 2px;
    font-size: .875rem;
    height: 1.4rem;
    bottom: 0px;
    border: 1px #cecece solid !important;
    outline-offset: 0;
    box-shadow: none !important;
    margin-bottom: 8px;
}

.settings-container {
    padding: 6px 0;
}
.settings-container .settingsTitle {
    margin: 14px 0;
}
.settings-toggle-container {
    position:absolute;
    right: 4px;
    top: 4px;
}
.settings-toggle-container a {
    color: #fff;
    font-size: 1.5em;
}
:focus {
    outline: none !important;
}

.request_participants>.participant:nth-child(odd),.roulettes>.row:nth-child(odd) {
    background: #f9f9f9;
}

.roulettes .participants div.row:nth-child(odd) {
    background: #cecece;
}
.roulettes .participants div.row:nth-child(even) {
    background: #e6e6e6;
}
.roulettes .participants {
    border-bottom: 1px solid #EEE;
    margin-bottom: 12px;
}

.roulettes .fa {

}